{% if data.queryString %}
    {% set maxLength = 40 %}
    <div class="ui small label" title="{{ data.queryString }}">
        {% if data.queryString|length > maxLength %}
            {{ data.queryString|slice(0, maxLength) }}{{ 'three_brs_sylius_404_log_plugin.ui.truncated'|trans }}
        {% else %}
            {{ data.queryString }}
        {% endif %}
    </div>
{% else %}
    <span class="ui grey text">{{ 'three_brs_sylius_404_log_plugin.ui.no_query_string'|trans }}</span>
{% endif %}
