{% set maxLength = 50 %}

<div class="ui label" title="{{ data }}">
    {% if data.urlSlug|length > maxLength %}
        <span title="{{ data.urlSlug }}">{{ data.urlSlug|slice(0, maxLength) }}{{ 'three_brs_sylius_404_log_plugin.ui.truncated'|trans }}</span>
    {% else %}
        {{ data.urlSlug }}
    {% endif %}
</div>
